.mt_20 {
  margin-top: 20px !important;
}

.mb_20 {
  margin-bottom: 20px !important;
}

.mb_24 {
  margin-bottom: 24px !important;
}
.mb_71 {
  margin-bottom: 71px !important;
}

.mt_71 {
  margin-top: 71px !important;
}

.mt_81 {
  margin-top: 81px !important;
}

.mb_60 {
  margin-bottom: 60px !important;
}

.mt_58 {
  margin-top: 58px !important;
}

.mb_58 {
  margin-bottom: 58px !important;
}

.mt_53 {
  margin-top: 53px !important;
}

.mb_53 {
  margin-bottom: 53px !important;
}

.mb_50 {
  margin-bottom: 50px !important;
}

.ml_19 {
  margin-left: 19px !important;
}

.mr_19 {
  margin-right: 19px !important;
}

.padd1 {
  padding: 0px 40px 0px 64px;
}

.padd2 {
  padding: 0px 30px 0px 34px;
}